.header {display: flex; margin-left: 120px; justify-content: space-between;margin-top: 87px;margin-right: 120px;color:}
.tabe ul li a {text-decoration: none; black;color: black;}
.tabe ul {display: flex; margin-left:auto;}
.tabe ul li{list-style-type: none; margin-left: 1em; font-size: 22px;}
.firstsection {display: flex;justify-content: space-between;}
.first {margin-left: 120px;margin-top: 285px;padding: 16px;}
.firstphoto {margin-top: 211px;margin-right: 165px; width: 440px;height: 414px;}
.fbutton {border: none; background-color:#E02C6D;border-radius:41px;width: 196px;height: 44px; font-size: 16px; color: #FFFFFF;}
.logos {margin-left: 165px;margin-right: 165px; }
.logos img{ width: 55.05px; height: 31.06px; padding: 61px;}
.logos:hover {border:1px solid red ; border-radius: 41px;}
.large {display: flex;display: block;columns: 3;margin-left: 220px; margin-top: 50px;}
#sl {text-align: center;}
.sphoto {background-color: #FFFFFF; }
.ancore {text-decoration: none; color: gold;}